#Title{
  text-align: center;
}

table{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

// .DeleteButton{
//  text-align: right;
// }

// .EditButton{
//   text-align:left;
// }

.Buttons{
  text-align: right;
  margin-right: 15%;
  position: relative;
}
