<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>編集画面</title>
</head>
<body>

  <h1 id="Title">詳細画面</h1>
  <!--D-1.詳細表示-->
<table border="5" id="Edittable">
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>会社ID</th>
    <th>会社名</th>
    <th>部署ID</th>
    <th>部署名</th>
    <th>内線番号</th>
    <th>メモ</th>
  </tr>
  <tr *ngFor="let person of editPerson">
    <td>{{person.StaffNumber}}</td>
    <td>{{person.StaffName}}</td>
    <td>{{person.CompanyID}}</td>
    <td>{{person.CompanyName}}</td>
    <td>{{person.DepartmentID}}</td>
    <td>{{person.DepartmentName}}</td>
    <td>{{person.ExtensionNumber}}</td>
    <td>{{person.Memo}}</td>
  </tr>
</table>

<div class="Buttons" *ngFor="let person of editPerson">
  <!--D-2.削除ボタン-->
    <button id="DeleteButton" (click)="DeleteClick(person.StaffNumber)">
      <span class="material-icons">
        delete
      </span>
    </button>
  <!--D-3.編集ボタン-->
    <button id="EditButton" (click)="EditClick(person.StaffNumber)" >
      <span class="material-icons">
        edit
      </span>
    </button>
</div>

</body>

</html>
