<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>電話番号管理システムのメインページ</title>
</head>
<body>
<h1>電話番号管理システム</h1>

<form method="get" action="#" class="SearchName">
  <!--methodは送信方法、actionは送信先(JSになるかな？)-->
  <input type="text" size="25" placeholder="名前で検索">
  <input type="text" size="25" placeholder="部署IDで検索">
  <input type="text" size="25" placeholder="メモで検索">
  <input type="submit" value="検索">
</form>

<!---検索フォームの下にJS(TS)でテーブルというか表というかを定義(データ数によって数変わるから)-->

</body>
</html>
