header
{
  background-color: rgb(143, 189, 75);
}

#Title
{
  text-align: center;
  display: inline;
}

#MainButton
{
  text-align: left;
  color: white;
  background: transparent;
  outline: none;
  border: none;
  display: inline;
}
