<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新規登録画面</title>
</head>
<body>
  <h1>新規登録画面</h1>
  <form id="form">
    <table>
      <tr>
        <th>社員名</th>
        <input id="staffName" type="text" autocomplete="off">
      </tr>

      <!--C-1.会社欄-->
      <tr>
        <th>会社名</th>
        <select name="CompanySelect" id="CompanySelect">
          <option value="" selected>選択してください</option>
        </select>
      </tr>
      <!--C-2.部署欄-->
      <tr>
        <th>部署名</th>
        <select name="DepartmentSelect" id="DepartmentSelect">
          <option value="" selected>選択してください</option>
        </select>
      </tr>

      <tr>
        <th>内線番号</th>
        <input id="ExectionNumber" type="text" autocomplete="off">
      </tr>

      <tr>
        <th>メモ</th>
        <input id="memo" type="text" autocomplete="off">
      </tr>

      <!--C-3.登録ボタン-->
      <button id="redister" (click)="StaffRedister()">登録</button>
      <input type="reset" value="リセット">
    </table>
  </form>


</body>
</html>
