<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新規登録画面</title>
</head>
<body>
  <h1 id="Title">新規登録画面</h1>

  <div id="Form">


        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name</mat-label>
          <input id="Name" matInput placeholder="Ex. 田中 太郎" autocomplete="off">
        </mat-form-field>

        <br>

        <!--C-1.会社欄-->
        <mat-form-field  appearance="fill">
          <mat-label>Company</mat-label>
          <mat-select [(ngModel)]="selectedCompanyID">
            <mat-option *ngFor="let Company of companyViewModel" [value]="Company.CompanyID">
              {{Company.CompanyID}}:{{Company.CompanyName}}
            </mat-option>
          </mat-select>
          <input id="Company" value="{{selectedCompanyID}}" hidden >
        </mat-form-field>

        <br>

      <!--C-2.部署欄-->
        <mat-form-field  appearance="fill">
          <mat-label>Department</mat-label>
          <mat-select [(ngModel)]="selectedDepartmentID">
            <mat-option *ngFor="let Department of departmentViewModel" [value]="Department.DepartmentID">
              {{Department.DepartmentID}}:{{Department.DepartmentName}}
            </mat-option>
          </mat-select>
          <input id="Department" value="{{selectedDepartmentID}}" hidden >
        </mat-form-field>

        <br>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>ExectionNumber</mat-label>
          <input id="ExectionNumber" matInput placeholder="Ex. 4275" autocomplete="off">
        </mat-form-field>

        <br>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Memo</mat-label>
          <input id="Memo" matInput placeholder="Ex. Pizza" autocomplete="off">
        </mat-form-field>

        <br>

      <!--C-3.登録ボタン-->
      <button id="redister" (click)="StaffRedister()">登録</button>
      <input type="reset" value="リセット">

  </div>


</body>
</html>
