table{
width: 70%;
margin-left: auto;
margin-right: auto;
}

.materialButton{
  background-color: transparent;
  outline: none;
  border: none;
}

#SearchForm{
  text-align: center;
  width: 100%;
}

.DetailEditButton{
  width: 2em;
}
