<!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WebClient</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="home.component.scss">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="home.component.ts"></script>
  </head>

  <body class="mat-typography">
    <div id = "SearchForm">
    <!--A-1.検索欄-->
    <span class="material-icons">
      search
    </span>

      <!--Name部分の入力欄-->
      <mat-form-field  appearance="fill">
        <mat-label>Name</mat-label>
        <mat-select [(ngModel)]="selectedNameValue">
          <mat-option *ngFor="let person of PersonName" [value]="person.StaffName">
            {{person.StaffName}}
          </mat-option>
        </mat-select>
        <input id="Name" value="{{selectedNameValue}}" hidden >
      </mat-form-field>

    <!--Department部分の入力欄-->
    <mat-form-field  appearance="fill">
      <mat-label>Department</mat-label>
      <mat-select [(ngModel)]="selectedDepartmentValue">
        <mat-option *ngFor="let Department of departmentViewModel" [value]="Department.DepartmentName">
          {{Department.DepartmentName}}
        </mat-option>
      </mat-select>
      <input id="Department" value="{{selectedDepartmentValue}}" hidden >
    </mat-form-field>

    <!--Memo部分の入力欄-->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Memo</mat-label>
      <input id="Memo" matInput placeholder="Ex. Pizza">
    </mat-form-field>

    <!--検索ボタン-->
    <button (click)="SearchClick()">
      検索
    </button>

  </div>

    <!--A-2.一覧表示-->
    <table border="5" id="table">
      <tr>
        <th>名前</th>
        <th>会社名</th>
        <th>部署</th>
        <th>内線番号</th>
        <th>メモ</th>
        <th>詳細</th>
        <th>編集</th>
      </tr>
      <tr *ngFor="let person of managementPerson">
        <td>{{person.StaffName}}</td>
        <td>{{person.CompanyName}}</td>
        <td>{{person.DepartmentName}}</td>
        <td>{{person.ExtensionNumber}}</td>
        <td>{{person.Memo}}</td>

        <!--詳細ボタン-->
        <td class="DetailEditButton">
          <button class="materialButton" (click)="DetailClick(person.StaffNumber)">
            <span class="material-icons">
              visibility
            </span>
          </button>
        </td>

        <!--編集ボタン-->
        <td class="DetailEditButton">
          <button class="materialButton" (click)="EditClick(person.StaffNumber)">
            <span class="material-icons">
              edit
            </span>
          </button>
        </td>
      </tr>
    </table>

    <!-- ↓は無視しておｋ-
    <button (click)="TestButton()">テストボタン</button> -->
  </body>
</html>
